table {
  width: 10%;
  border-collapse: collapse; 
  background-color: #E0FFFF;
}

  td {
  border: 2px solid #000000;
  padding: 20px;
}

#score-table {
  width: 10%;
  border-collapse: collapse;
  background-color: #ff8080;
  font-size: 12px;
}

caption {
  font-size: 15px;
  font-weight: bold;
}

#score-table th, #score-table td {
  border: 2px solid #000000;
  padding: 5px;
}

#score-table td {
  text-align: center;
  font-size: 12px;
}

button {
  background-color: #66CDAA;
}

.win {
  background-color:#32CD32;
}

.new {
  background-color:#E0FFFF;
}